/* Write your CSS here */
.body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.bg-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
h1 {
  color: white;
}

.Loader {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
